<head>
<meta charset="utf-8">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script  type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<style>
#header {
    background-color:gray;
    color:white;
    text-align:center;
    padding:1px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    opacity:0.6;
    height:100%;
    width:200px;
    float:left;
    padding:5px;        
}
#footer {
    background-color:gray;
    color:white;
    clear:both;
    text-align:center;
    height: 30px;
  padding: 5px;
  
  position: absolute;
  bottom: 0;
  width: 100%;
  clear:both; 
}
/*body{height:100%; overflow:hidden; margin:0px; padding:0px;}*/

</style>
</head>


<body>

<div id="header">
<h1>Dream Team Work</h1>
</div>



<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Query1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <div class="col-lg-6">
            <div class="input-group">

              <div class="form-group"> 
              <label for="label1" class="col-sm-2 control-label">请输入id</label> 
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input1" name="input1" placeholder="请输入id">
              </div>
              </div> 
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="button1" value="query1" >find!</button>
              </span>

            
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
          <table id="table1" class="table table-striped">
          </table>

      </div>
  

    </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Query2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
          <div class="col-lg-6">
            <div class="input-group">

              <div class="form-group"> 
              <label for="label2" class="col-sm-2 control-label">请输入way_id</label> 
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input2" name="input2" placeholder="请输入way_id">
              </div>
              </div> 
              <!-- <input type="text" class="form-control" id="input2" name="input2"> -->
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="button2" value="query2">find!</button>
              </span>

            
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
          <table id="table2" class="table table-striped">
          </table>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          Query3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
          <div class="col-lg-6">
            <div class="input-group">

              <div class="form-group"> 
              <label for="label3" class="col-sm-2 control-label">请输入way_name</label> 
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input3" name="input3" placeholder="请输入way_name">
              </div>
              </div> 
              <!-- <input type="text" class="form-control" id="input3" name="input3"> -->
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="button3" value="query3">find!</button>
              </span>

            
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
          <table id="table3" class="table table-striped">
          </table>
      </div>

    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          Query4
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">



          <div class="col-lg-6">
            <div class="input-group">

              <div class="form-group"> 
              <label for="label4" class="col-sm-2 control-label">请输入lat</label> 
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input4_lat" name="input4_lat" placeholder="请输入input4_lat">
              </div>
              </div>
              <br/> 
              <br/> 
              <div class="form-group"> 
              <label for="label4" class="col-sm-2 control-label">请输入lon</label> 
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input4_lon" name="input4_lon" placeholder="请输入input4_lon">
              </div>
              </div> 
              <br/> 
              <br/> 

              <div class="form-group"> 
              <label for="label4" class="col-sm-2 control-label">请输入半径r</label> 
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input4_r" name="input4_r" placeholder="请输入input4_r">
              </div>
              </div> 
<!--               <input style="float:left" type="text" class="form-control" id="input4_lat" name="input4_lat">
              <input style="float:left" type="text" class="form-control" id="input4_lon" name="input4_lon">
              <input style="float:left" type="text" class="form-control" id="input4_r" name="input4_r"> -->
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="button4" value="query4">find!</button>
              </span>

            
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
          <table id="table4" class="table table-striped">
          </table>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          Query5
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
          <div class="col-lg-6">
            <div class="input-group">
              <div class="form-group"> 
              <label for="label5" class="col-sm-2 control-label">请输入lat</label> 
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input5_lat" name="input5_lat" placeholder="请输入input5_lat">
              </div>
              </div> 
              <br/> 
              <br/>               
              <div class="form-group"> 
              <label for="label5" class="col-sm-2 control-label">请输入lon</label> 
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input5_lon" name="input5_lon" placeholder="请输入input5_lon">
              </div>
              </div> 


              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="button5" value="query5">find!</button>
              </span>

            
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
          <table id="table5" class="table table-striped">
          </table>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
          Query6
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
          <div class="col-lg-6">
            <div class="input-group">

              <div class="form-group"> 
              <label for="label6" class="col-sm-2 control-label">请输入input6_lat0</label> 
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input6_lat0" name="input6_lat0" placeholder="请输入input6_lat0">
              </div>
              </div> 
              <br/> 
              <br/>               
              <div class="form-group"> 
              <label for="label6" class="col-sm-2 control-label">请输入input6_lon0</label> 
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input6_lon0" name="input6_lon0" placeholder="请输入input6_lon0">
              </div>
              </div> 
              <br/> 
              <br/>               
              <div class="form-group"> 
              <label for="label6" class="col-sm-2 control-label">请输入input6_lat1</label> 
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input6_lat1" name="input6_lat1" placeholder="请输入input6_lat1">
              </div>
              </div> 
              <br/> 
              <br/>               
              <div class="form-group"> 
              <label for="label6" class="col-sm-2 control-label">请输入input6_lon1</label> 
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input6_lon1" name="input6_lon1" placeholder="请输入input6_lon1">
              </div>
              </div> 

              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="button6" value="query6">find!</button>
              </span>

            
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->

          <table id="table6" class="table table-striped">
          </table>
      </div>

    </div>
  </div>




</div>
<div id="footer">
Dream Team TYC JYT ZP
</div>
</body>

<script>

$("#button1").click(function() {
    var value = document.getElementById("input1").value;
    console.log("button click");
    $.getJSON("/1", {
        "id": value
    },  function(json) {  
        var  htmls = ['<br/><table>'];  
        htmls.push('<tr>');  
        for (var  k  in  json[0])  htmls.push('<td>' + k + '</td>');  
        htmls.push('</tr>');  
        for (var  i = 0, L = json.length; i < L; i++) {    
            htmls.push('<tr>');    
            for (var  k  in  json[i])  htmls.push('<td>' + json[i][k] + '</td>');     
            htmls.push('</tr>');  
        }  
        htmls.push('</table>');  
        console.log(htmls); 
        $('#table1').html(htmls.join(''));
        // jQuery("#coutx").load('http://localhost:8080/1', value);
        
    })});

$("#button2").click(function() {
    var value = document.getElementById("input2").value;
    // console.log("button click");
    $.getJSON("/2", {
        "id": value
    },  function(json) {  
        var  htmls = ['<br/><table>'];  
        htmls.push('<tr>');  
        for (var  k  in  json[0])  htmls.push('<td>' + k + '</td>');  
        htmls.push('</tr>');  
        for (var  i = 0, L = json.length; i < L; i++) {    
            htmls.push('<tr>');    
            for (var  k  in  json[i])  htmls.push('<td>' + json[i][k] + '</td>');     
            htmls.push('</tr>');  
        }  
        htmls.push('</table>');  
        console.log(htmls); 
        $('#table2').html(htmls.join(''));
        // jQuery("#coutx").load('http://localhost:8080/1', value);
        
    })});

$("#button3").click(function() {
    var value = document.getElementById("input3").value;
    console.log("button click");
    $.getJSON("/3", {
        "name": value
    },  function(json) {  
        var  htmls = ['<br/><table>'];  
        htmls.push('<tr>');  
        for (var  k  in  json[0])  htmls.push('<td>' + k + '</td>');  
        htmls.push('</tr>');  
        for (var  i = 0, L = json.length; i < L; i++) {    
            htmls.push('<tr>');    
            for (var  k  in  json[i])  htmls.push('<td>' + json[i][k] + '</td>');     
            htmls.push('</tr>');  
        }  
        htmls.push('</table>');  
        console.log(htmls); 
        $('#table3').html(htmls.join(''));
        // jQuery("#coutx").load('http://localhost:8080/1', value);
        
    })});

$("#button4").click(function() {
    var value1 = document.getElementById("input4_lat").value;
    var value2 = document.getElementById("input4_lon").value;
    var value3 = document.getElementById("input4_r").value;
    console.log("button click");
    $.getJSON("/4", {
        "lat": value1,
        "lon": value2,
        "r": value3
    },  function(json) {  
        var  htmls = ['<br/><table>'];  
        htmls.push('<tr>');  
        for (var  k  in  json[0])  htmls.push('<td>' + k + '</td>');  
        htmls.push('</tr>');  
        for (var  i = 0, L = json.length; i < L; i++) {    
            htmls.push('<tr>');    
            for (var  k  in  json[i])  htmls.push('<td>' + json[i][k] + '</td>');     
            htmls.push('</tr>');  
        }  
        htmls.push('</table>');  
        console.log(htmls); 
        $('#table4').html(htmls.join(''));
        // jQuery("#coutx").load('http://localhost:8080/1', value);
        
    })});


$("#button5").click(function() {
    var input5_lat = document.getElementById("input5_lat").value;
    var input5_lon = document.getElementById("input5_lon").value;
    console.log("button click");
    $.getJSON("/5", {
        "lat": input5_lat,
        "lon": input5_lon
    },  function(json) {  
      console.log(json);
        var  htmls = ['<br/><table>'];  
        htmls.push('<tr>');  
        for (var  k  in  json)  htmls.push('<td>' + k + '</td>');  
        htmls.push('</tr>');  
            htmls.push('<tr>');    
            for (var  k  in  json)  htmls.push('<td>' + json[k] + '</td>');     
            htmls.push('</tr>');  
        htmls.push('</table>');  
        
        $('#table5').html(htmls.join(''));
        // jQuery("#coutx").load('http://localhost:8080/1', value);
        
    })});


$("#button6").click(function() {
    var value1 = document.getElementById("input6_lat0").value;
    var value2 = document.getElementById("input6_lon0").value;
    var value3 = document.getElementById("input6_lat1").value;
    var value4 = document.getElementById("input6_lon1").value;    
    console.log("button click");
    $.get("/6", {
        "lat0": value1,
        "lon0": value2,
        "lat1": value3,
        "lon1": value4        
    },  function(data) { 
        console.log(data); 
        var  htmls = ['<table>'];  
        // htmls.push('<tr>');  
        // for (var  k  in  data)  htmls.push('<td>' + k + '</td>');  
        // htmls.push('</tr>');  


        htmls.push('<br/><pre>'+data+ '</pre>');  

        
        // htmls.push('<tr>');    
        // for (var  k  in  data)  htmls.push('<td>' + data[k] + '</td>');     
        // htmls.push('</tr>');  
        
        htmls.push('</table>');  
        console.log(htmls); 
        $('#table6').html(htmls.join(''));
        // jQuery("#coutx").load('http://localhost:8080/1', value);
        
    })});

</script>


</body>
